<footer>

    <!--DEN HER SENDER TIL NETLIFY-->
    <form name="contact" method="POST" data-netlify="true" class="validate">
        
            <div>
                <label for="Name" class="form__label">Name:</label>
                <input placeholder="Name" type="text" name="Name" id="Name" class="form__input" required pattern=".{5,}" title="Skriv dit navn">
                <span class="error"></span>
            </div>

            <div>
                <label for="Subject" class="form_label">Subject:</label>
                <input placeholder="Subject" type="text" id="Subject" name="Subject" class="form__input" required pattern=".{1,}">
                <span class="error"></span>
            </div>

            <div>
                <label for="phone" class="form_label">Phone:</label>
                <input  placeholder="Phone" id="number" name="number" type="number" class="form__input" required pattern=".{8,}">
                <span class="error"></span>
            </div>
        <div>
            <label for="mail" class="form__label">Mail:</label>
            <input placeholder="Mail" type="mail" name="mail" id="mail" class="form__input" required pattern=".+\.[a-z]{2,}$">
            <span class="error"></span>
            </div>

            <div>
                <label for="message" class="form__label">Message:</label>
                <textarea  name="message" id="message" placeholder="Message" class="form__input" cols="30" rows="10" required pattern=".{8,}"></textarea>
                <span class="error"></span>
            </div>
        <div>
        </div class="field">
           
            <div class="field">
                <label for="file" class="form__label">File:</label>
                <input type="file" name="myfile"  class="form__input"
                id="myfile" placeholder="Upload"
                rows="7">
                </div>
        <div>
            <label for="submit" class="form__label">Send:</label>
            <button class="btn">
                <input type="submit"> 
            </button>
        </div>
    </form>
</footer>
<script src="/assets/javascript/app.js"></script>
<script src="/assets/javascript/form.js"></script>
<script src="/assets/javascript/animation.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/test.js"></script>