<header>
    <nav>
        <div class="nav_wrapper">
        <ul class="ul" data-aos="slide-right">   
            <a href="/index.html" class="logo">Mathias Ferniss</a> 
             
            <li class="pil"><a href="/quiz/index.html">quiz</a></li>
                    <li class="pil dropdown"><a class="activate droparrow">Skills</a>
                        <ul class="subul">
                            <li>css</li>
                            <li>ejs</li>
                            <li>html</li>
                            <li>sass</li>
                            <li>gulp</li>
                            <li>Frontend</li>
                            <li>Javascript</li>
                            <li>Animationer</li>
                            <li>Programmering</li>
                        </ul>
                    </li>
                    <li class="pil"><a class="dropdown" href="/about/index.html">About me</a>
                    <i class="fas fa-search search_icon"></i>
                    <div class="search_panel hidden">
                        <form action="#">
                            <input type="text" class="search_input" placeholder="Search" required="required">
                        </form>
                    </div>
                </ul>
                    </div>
            </nav>
</header>