<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<main class="about_me">
    <h1 class="h1 text">Frontend Webudvikler</h1>

    <div class="MediaBox" data-media-id="910"> <video preload="auto" muted="true" autoplay="" loop="" playsinline="true" src="https://media.roccat.org/img/product-series/series/teaser/1/Vulcan-WebsiteBackgr-2030x1080-4.mp4"></video> 
        <figure class="position" data-aos="slide-left">
            <img src="/assets/images/facebook.JPG" alt="">¨
            <figcaption class="hifi" data-aos="slide-down">
                <a href="https://hificorner-4957f.firebaseapp.com/"></a>
                <p class="">Mit navn er Mathias Ferniss. Jeg er 20 år gammel. Jeg kan rigtig godt lig at programmere, jeg er en glad, smilende og sjov person som altid er i positivt humør</p>
            </figcaption>
            </figure>
    </div>
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>