    <%- include('../partials/head'); %>
    <%- include('../partials/header'); %>
    <main>
        <h1 class="h1 text">Frontend Webudvikler</h1>
        <figure>
            <img src="/assets/images/hifi.JPG" alt="">
            <figcaption class="hifi" data-aos="slide-left">
                <a href="https://hificorner-4957f.firebaseapp.com/"><h1 class="test">HIFI-Corner</h1></a>
                <p class="description"> From switch to key cap, the Vulcan’s keys feature a truly break-through design. The Tactile Titan Switch features a responsive key stroke that is equal parts crisp and swift. Key caps have a standard-size surface area but a shortened height to make for easy cleaning. They’re also subtly curved to match your fingers and angled for a superior experience. </p>
            </figcaption>
        </figure>
        <figure>
            <img src="/assets/images/music.JPG" alt="">
            <figcaption class="music" data-aos="flip-up">
                <a href="https://iplaymusic-ffa68.firebaseapp.com/"><h1 class="test">IPlayMusic</h1></a>
                <p class="description">Lorem ipsum, em perspiciatis modi cumque reiciendis? Reiciendis, voluptatem laborum. Natus unde consequuntur, reprehenderit animi vero libero blanditiis ut eveniet necessitatibus. Mollitia obcaecati quia perspiciatis ratione. Ipsum inventore quidem iusto quam voluptatem ipsa. Dolorem incidunt vel veniam labore quo quibusdam, facilis rem odit iusto corporis voluptate placeat laboriosam in praesentium! Cumque, dignissimos necessitatibus numquam facilis esse molestias suscipit ut provident doloribus porro nemo quisquam.</p>                        
            </figcaption>
            </figure>
        <figure>
            <img src="/assets/images/newsbox.JPG" alt="">
            <figcaption class="newsbox" data-aos="slide-down">
                <a href="https://newsbox-3e73e.firebaseapp.com/"><h1 class="test">NewsBox</h1></a>
                <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.stias suscipit ut provident doloribus porro nemo quisquam.</p>
            </figcaption>
        </figure>
        <figure>
            <img src="/assets/images/spil.JPG" alt="">
            <figcaption class="spil" data-aos="slide-right">
                <a href="https://spil-d01c4.firebaseapp.com/"><h1 class="test">Spil</h1></a>
                <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit et nesciunt illo cupiditate rem perspiciatis modi cumque reiciendis? Reiciendis, voluptatem laborum. Natus unde consequuntur, reprehenderit animi vero libero blanditiis ut eveniet necessitatibus. Mollitia obcaecati quia perspiciatis ratione. Ipsum inventore quidem iusto quam voluptatem ipsa. Dolorem incidunt vel veniam labore quo quibusdam, facilis rem odit iusto corporis voluptate placeat laboriosam in praesentium! Cumque, dignissimos necessitatibus numquam facilis esse molestias suscipit ut provident doloribus porro nemo quisquam.</p>            
            </figcaption>
    </main>
    <%- include('../partials/footer'); %>
    <%- include('../partials/after-footer'); %>
