.char{
    animation: an 2s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
.box {
    width: 40%;
    height: 200px;
    background: orange;
    border-radius: 2px;
    padding: 10px;
    color: white;
    text-align: center;
  }
  
  .a {
    margin: 120vh auto 0 auto;
  }
  
  .b {
    margin: 40vh auto 0 auto;
  }