body{
    margin: 0;
    text-align: center;
}
figure{
    margin: 0;
}
img{
    width: 100%;
    display: block;
    }
figcaption{
background-color: black;
color: white;
border: 5px solid lightslategrey;
}
.description{
    display: none;
}
.test{
    font-size: 2.25em;
    line-height: 1.1;
    color: red;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.67em;
}
a{
    text-decoration: none;

}
.h1{
    font-size: 2em;
    color: firebrick;
}
@media screen and (min-width: 768px){
    .h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3em;
        color: darkred;
    }
    .description{
        display: block;
        font-size: 0.875em;
        line-height: 1.6428em;
        display: inline;
        font-family: 'Roboto', arial, sans-serif;
    }
    figure{
        border-top: 5px solid lightslategrey;
        position: relative;
    }
    img{
        width: 100%;
        display: block;
        }
.hifi{
    width: 30%;
    padding: 1.4375em 1.875em;
    background-color: black;
    color: white;
    border: 5px solid lightslategrey;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 10%;
}
.music{
    width: 30%;
    padding: 1.4375em 1.875em;
    background-color: black;
    color: white;
    border: 5px solid lightslategrey;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 20%;
}
.newsbox{
    width: 30%;
    padding: 1.4375em 1.875em;
    background-color: black;
    color: white;
    border: 5px solid lightslategrey;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 10%;
}
.spil{
    width: 30%;
    padding: 1.4375em 1.875em;
    background-color: black;
    color: white;
    border: 5px solid lightslategrey;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 20%;
}
}